<div class="nav-header">
<section class="h-100">
    <header class="container h-100">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
          <div class="text align-self-center p-2">
            <!-- search -->
            <div class="center-element icon-ml-header">
                <a href="#"><img src="../../../assets/img/icons/Logo_ML.png" alt="MercadoLibre" (click)="goHome()" /></a>
            </div>
            <div class="center-element input-search-header">
                <input type="text" 
                class="input-ml nav-search-input" 
                aria-label="Ingresá lo que quieras encontrar" 
                placeholder="Buscar productos, marcas y más…" 
                maxlength="120"
                autofocus="" 
                autocapitalize="off" 
                autocorrect="off" 
                spellcheck="false" 
                autocomplete="off" 
                tabindex="2"
                [(ngModel)]="q"
                (keyup.enter)="searchProduct()"
                />
                <button class="btn btn-outline-secondary btn-search-header">
                    <div role="img" aria-label="Buscar" class="nav-icon-search" (click)="handleClick($event)">
                        <img src="../../../assets/img/icons/ic_Search.png" alt="" />
                    </div>
                </button>
            </div>
            <!-- .search -->
          </div>
        </div>
      </div>
    </header>
  </section>
</div>

