<section class="h-100">
    <header class="container h-100">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
            <div class="text align-self-center p-2">
                <!-- product -->
                <div class="container-item-product">
                    <div class="container-fluid">
                        <div class="row">
                        <div class="col-md-9">
                            <div class="img-search-result">
                                <img src="../../../assets/img/" alt="imagen principal">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="clear-fix"></div>
                            <div class="product-item-detail">Nuevo - <span class="product-item-n-sells"> 234 Vendidos </span></div>
                            <h1 class="product-item-title">Deco Reverse Sombrero Oxford</h1>
                            <h2 class="product-item-price">$ 1.980</h2>
                            <button class="btn btn-primary btn-buy-ml"> Comprar </button>
                        </div>
                        </div>
                    <div class="row">
                        <div class="footer-item-product">
                            <div class="product-item-description-title">
                                Descripción del producto
                            </div>
                            <div class="product-item-description-text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </div>
                        </div>
                    </div> 
                    </div>
                </div>
                <!-- product -->
            </div>
        </div>
    </div>
</header>
</section>