<section class="h-100">
    <header class="container h-100">
      <div class="d-flex align-items-center justify-content-center h-100">
        <div class="d-flex flex-column">
            <div class="text align-self-center p-2">
                <!-- product -->
                <ng-container *ngIf="!item">
                    <ml-spinner></ml-spinner>
                </ng-container>
                <ng-container *ngIf="item">
                <div class="container-item-product">
                    <div class="container-fluid">
                        <div class="row">
                        <div class="col-md-9">
                            <div class="img-search-result">
                                <img [src]="item.picture">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="clear-fix"></div>
                            <div class="product-item-detail" *ngIf="item.condition == 'new'"> Nuevo </div>
                            <div class="product-item-detail" *ngIf="item.condition != 'new'"> Usado </div>
                            <h1 class="product-item-title">{{item.title}}</h1>
                            <h2 class="product-item-price">$ {{item.price.amount}}</h2>
                            <button class="btn btn-primary btn-buy-ml"> Comprar </button>
                        </div>
                        </div>
                    <div class="row">
                        <div class="footer-item-product">
                            <div class="product-item-description-title">
                                Descripción del producto
                            </div>
                            <div class="product-item-description-text">
                               {{ item.description }}
                            </div>
                        </div>
                    </div> 
                    </div>
                </div>
                </ng-container>
                <!-- product -->
            </div>
        </div>
    </div>
</header>
</section>