.container-results
    background-color : #fff
    width : 100%
    border-radius: 4px
    width : 1200px

.search-results-container
    list-style : none
    padding : 0px
    margin : 0px
    width : 100%

.img-search-result
    width: 180px
    height: 180px
    border-radius: 4px
    background-color : #e0e0e0

.list-result-item-price
    margin-bottom : 32px
    font-size : 25px

.list-result-item-title
    list-result-item-title
    font-size : 22px

.search-result-item
    box-sizing: content-box
    padding : 16px
    position : relative
    left : -15px

.list-result-item-state
    float : right